.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  background: var(--light-color);
  color: #333;
  border: #ccc solid 1px;
}

.avatar {
  border-radius: 50%;
}
.skills {
  color: var(--primary-color);
}
