.title {
  background: var(--primary-color);
  padding: 0.5rem;
  color: white;
}

.form {
  margin: 1rem 0;
}

.form input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.btn {
  font: inherit;
  background: var(--dark-color);
  color: #fff;
  display: inline-block;

  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
