.title {
  margin-top: 2rem;
}

.table {
  width: 100%;
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.btn {
  display: inline-block;
  background: var(--danger-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.table .btnfunc {
  text-align: center;
}

@media (max-width: 700px) {
  .hide {
    display: none;
  }
}
