.title {
  font-size: 1rem;
  color: var(--primary-color);
  font-size: 2rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form {
  margin: 1.2rem 0;
}
.form-group {
  margin: 1.2rem 0;
}
.form input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.btn,
.btnSubmit,
.btnGoBack {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  background: var(--light-color);
  color: #333;
}

.social-Input {
  display: flex;
  margin: 1.2rem 0;
}

.social-Input i {
  padding: 0.5rem;
  width: 4rem;
}

.btnSubmit {
  background: var(--primary-color);
  color: #fff;
}

.btnGoBack {
  background: var(--light-color);
  color: #333;
}

.social {
  margin-bottom: 2rem;
}
