.landing {
  position: relative;
  background: url("../image/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-inner h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.landing-inner p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: rgb(26, 19, 19);
}
