code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-color: #e67e22;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #cf711f;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

.fa-twitter {
  color: #38a1f3;
}
.fa-facebook {
  color: #3b5998;
}
.fa-youtube {
  color: #c4302b;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-instagram {
  color: #3f729b;
}

.fa-globe {
  color: #0077b5;
}
